/**
  * @desc basic tag styles (HTML elements)
  *       e.g.: sub and sup should be the same everywhere
  * @author Neil Symester neil.symester@towergate.co.uk
  */

body {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.75);
  font-family: Signika, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 20px;
}
